*.iml
.DS_Store
.gradle
.idea
local.properties
split.local.properties
/captures
/build
/.kotlin
**/build
app/release/
*.apk
*.aab
*.apks
*.jks
*.keystore
*.p8
*.p12
*.cer
*.pem
*.key
*.env
*.swp
*.orig
keystore.properties
app/google-services.json
